.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-btn-1 {
  margin: -42px 292px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 533px;
  height: 330px;
  margin: 209px auto 0 11px;
}

.u-section-1 .u-text-1 {
  margin: -298px 306px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 34px 11px 0 570px;
}

.u-section-1 .u-btn-2 {
  margin: 19px auto 0 570px;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 63px auto 0 91px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 100px 159px 0 422px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 92px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 376px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 365px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin: 116px 64px -78px 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 852px;
    margin-right: auto;
    margin-left: 282px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -561px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -408px;
    margin-right: auto;
    margin-left: 214px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 418px;
    margin-right: 94px;
    margin-left: 67px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -546px;
    margin-left: 145px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -151px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 326px -29px 0 190px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 102px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin: 56px -141px -18px 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 675px;
    margin-left: auto;
    padding: 17px 40px 18px 39px;
  }

  .u-section-1 .u-image-1 {
    height: 211px;
    margin-top: -452px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -282px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 320px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -174px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin: 264px 0 0;
  }
}